*.pyc
*.o
src/ybinlogp
.*.swp
logs/

# autotools stuff
*.in
*.la
*.lo
.deps/
.libs/
Makefile
aclocal.m4
autom4te.cache
autoscan.log
compile
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp*
*.tar.gz
py-compile
*.log
*.trs
test-driver
